@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

<div class="justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="border:none;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/chatter.png" class="logo" />
                        <h5 class="display-5">chatter</h5>
                        <small>
                            Chat Application using ASP.NET Core SignalR with User Identity
                        </small>
                    </div>

                </div>
            </div>

        </div>
    </div><hr>
    <div class="row p-2">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header"> List of Users</div>
                <div class="card-body">
                    <div class="list-group">
                        @foreach (var item in Model)
                        {
                            
                            if (item.UserName != userName)
                            {
                                var them = item.UserName;
                                <a href="#" class="list-group-item list-group-item-action">@item.UserName <i class="bi bi-circle-fill text-success float-end"></i></a>
                                ViewBag.them = item.UserName;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">@ViewBag.them</div>
                <div class="card-body">
                    <div class="panel-body">
                        <div class="chats" id="chats">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="panel-footer">
                            <form>
                                <div class="input-group mb-3">
                                    <input id="text" name="text" type="text" class="form-control" placeholder="Write a message...">
                                    <input id="username" name="username" value="@userName" type="hidden">
                                    <button id="send" class="btn btn-primary" type="button"><i class="bi bi-send"></i> Send</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
